body {

    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.page {

width: 1000px;
margin: 65px auto 0;

}

nav {

display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 55px;
}

ul {

    display: flex;
    list-style-type: none;
    gap: 48px;
    margin: 0px;
    padding: 0px;


}

ul li a {
    color: #1F1534;
    opacity: 0.5;
    text-decoration: none;
}

ul li a:hover {

    font-weight: bold;
    opacity: 1;
}

ul, h1 {
    
    font-family: 'Mulish', sans-serif;

}


main {

display: flex;
justify-content: space-between;
align-items: center;
}



h1 {
    color: #000;
    line-height: 56px;
    font-size: 49px;
    font-weight: normal;

}

h1 span {
    color: #89C5CC;
    font-weight: bold;
}

section p {

line-height: 28px;
color: #7D7987;
font-size: 14px;
margin: 40px 0;


}

button {

text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
background: #69B99D;
border: 0;
display: flex;
align-items: center;
justify-content: center;
padding: 0;
gap: 10px;
border-radius: 4px;
cursor: pointer;
}

button:hover {
  background:  #4ea788;  
}


footer {

    font-size: 14px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    text-align: center;
    margin-top: 80px;

}

footer a {
    
    font-weight: bold;
    color: #000;
}
#balls {

    position: fixed;
   bottom: 0px;
   right: 0px;

}